.card {
    padding: 20px 30px;
    height: 20%;
    width: 20%;
    top: 5%;
    left: -90px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: var(--mint-julip);
  }
  
  .cardLight {
    background-color: var(--mint-julip);
    color: var(--Matrix-light);
  }
  
  .cardDark {
    background-color: rgba(8, 104, 104, 0.425);
    color: var(--green-blue);
  }
  
  .card:hover {
    transform: scale(1.05) translate(5px, -5px);
  }
  
  .cardLight:hover {
    background-color: var(--Matrix-light);
    color: #f2ebc1;
  }
  
  .cardDark:hover {
    background-color: var(--green-blue);
    color: var(--bunker-dark);
  }
  
  .cardTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .cardDescription {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  