:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: #3ee1de;
  background-color: #050608;
  --button: #9f8880;
  --button-hover: #9a6764;

  --text-5: clamp(2.9rem, 2.6rem + 6.8vw, 6.2rem);
  --text-4: clamp(2.4rem, 1.8rem + 4.4vw, 4.8rem);
  --text-3: clamp(2.0rem, 1.4rem + 3.2vw, 3.2rem);
  --text-2: clamp(1.6rem, 1.2rem + 2.0vw, 2.4rem);
  --text-1: clamp(1.25rem, 1.05rem + 1.2vw, 1.75rem);
  --text-0: clamp(1rem, 0.95rem + 0.4vw, 1.125rem);
  --text--1: clamp(0.88rem, 0.88rem + 0.25vw, 1.25rem);

  --bunker-dark: #050608;
  --green-blue: #3ee1de;

  /* lightmode */
  --Matrix-light: #a25d4e;
  --copper-rose: #9a6764;
  /* background */
  --mint-julip: #e5dba1;
  --santa-fe : #b27755;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s ease;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* .header_image-light::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease-in;
} */

:root.dark {
  color: var(--green-blue);
  background-color: var(--bunker-dark);
  --button: #9f8880;
  --button-hover: #9a6764;
}

:root.light {
  color: var(--copper-rose);
  background-color: var(--mint-julip);
  --button: #f9f9f9;
  --button-hover: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #9a6764;
    background-color: #f2ebc1;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
